<header class="navbar navbar-inverse">
    <div class="container text-center">
      <h2>SIMPLE TODO LISTS</h2>
      <h4>FROM CATS =^.^=</h4>
    </div>
</header>

<div>
<% @projects_all.each do |project| %>
<div class="row">
<div class="span8 table-centered">
    <table class="table table-striped table-bordered table-hover table-nonfluid">
      <tr>
        <td colspan="3"><i class="icon-calendar align-left"></i><div class="align-left"><%= project.name %></div>
        <div class="span2 align-right">
          <%= link_to edit_project_path project.id do %>
              <i class="icon-pencil align-right"></i>
          <% end %>
          <%= link_to project_path(project.id), :method => :delete do %>
              <i class="icon-trash align-right"></i>
          <% end %>
        </div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <i class="icon-plus"></i> <input class="set-width80"/>
          <input type="submit" class="btn btn-success btn-small" value="Add Task"/>
        </td>
      </tr>
      <% project.tasks.each do |task| %>
          <tr>
            <td class="small-width15"><input type="checkbox" <% task.is_completed ? "checked" : "" %> ></td>
            <td><%= task.name %></td>
            <td class="small-width50">
              <div class="align-right">
<!--                <%= link_to task_path task.id do %>
                    <i class="icon-resize-vertical"></i>
                <%end%>-->
                <%= link_to edit_task_path task.id do %>
                    <i class="icon-pencil"></i>
                <%end%>
                <%= link_to task_path(task.id), :method => :delete do %>
                    <i class="icon-trash"></i>
                <%end%>
              </div>
            </td>
          </tr>
      <% end %>
    </table>
</div>
</div>

<% end %>
<div class="button-centered">
  <%= link_to "Add New Project", new_project_path, class: "btn btn-success btn-large" %>
</div>
</div>