<% @projects_all.each do |project| %>
<div class="span8 centered">
    <table class="table table-striped table-bordered table-hover table-nonfluid">
      <tr>
        <td colspan="2" class="project_name">
            <div ><%= project.name %></div>
        </td>
        <td>
            <div class="btn-group">
              <%= link_to(edit_project_path(project.id), class: "btn") do %>
                  <i class="icon-pencil"></i>
              <% end %>
              <%= link_to(project_path(project.id), :method => :delete, class: "btn") do %>
                  <i class="icon-trash"></i>
              <% end %>
            </div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <%= form_tag("/tasks", method: 'post', class: "form-inline input-append magick") do %>
              <%= text_field_tag(:name, "", placeholder: 'Please enter your task here', class: 'span7') %>
              <%= hidden_field_tag(:project_id, project.id) %>
              <%= button_tag('Add Task', class:'btn', type:'submit') %>
          <% end %>
        </td>
      </tr>
      <% project.tasks.order("priority DESC").each do |task| %>
          <tr>
            <td class="small-width15">
              <span class="task_checkbox <%= task.is_completed? ? 'icon-ok' : 'icon-hand-right' %> " data-id="<%= task.id%>">
              </span>
            </td>
            <td><span id="task_<%= task.id %>_name"
                      class="task_name <%= task.is_completed? ? 'striked' : '' %>"><%= task.name %></span></td>
            <td>

              <div class="btn-group">
                <%= link_to(edit_task_path(task.id), class: "btn") do %>
                    <i class="icon-pencil"></i>
                <% end %>
                <%= link_to(task_path(task.id), :method => :delete, class: "btn") do %>
                    <i class="icon-trash"></i>
                <% end %>
              </div>
            </td>
          </tr>
      <% end %>
    </table>
<% end %>
<div class="text-center">
  <%= link_to 'Add New Project', new_project_path, class: "btn btn-success btn-large" %>
</div>
</div>